<!--<style type="text/css">
.pane, .view{
  position: initial;
}
body > ion-nav-view > ion-side-menus > ion-side-menu{display: none;}
.bar-stable .button.button-clear {display: none;}
</style>-->
<ion-view view-title="Home">
  <ion-content  id="menu-home">
      <ion-list>
        <ion-item nav-clear menu-close ng-click="login()">
        <i class="icon ion-person"></i>
          Login
        </ion-item>
        <ion-item nav-clear menu-close ng-click="register()">
        <i class="icon ion-person-add"></i>
          Register
        </ion-item>
        <ion-item nav-clear menu-close ng-click="info()">
        <i class="icon ion-information-circled"></i>
          Infomation
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
